@import "theme.css";

* {
    /* font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif; */
    font-family: FantasqueSansMono Nerd Font;
    font-size: 16px;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @overlay1;
}

label:focus {
    background-color: #000000;
}

@keyframes blink {
    to {
        background-color: @blue;
        color: #000000;
    }
}

@keyframes blink-update {
    to {
        background-color: dodgerblue;
    }
}

#waybar {
    color: @blue;
    background-color: transparent;
    box-shadow: none;
    border-radius: 20px;
    margin: 5px 5px;
    transition-property: background-color;
    transition-duration: .5s;
}

.modules-left {
    background-color: rgba(30, 30, 30, 0.5);
    border-radius: 20px;
    padding: 0 10px;
    transition-property: background-color;
    transition-duration: .5s;
}

.modules-center {
    background-color: rgba(30, 30, 30, 0.5);
    border-radius: 20px;
    padding: 0 10px;
    transition-property: background-color;
    transition-duration: .5s;
}

.modules-right {
    background-color: rgba(30, 30, 30, 0.5);
    padding: 0 10px;
    border-radius: 20px;
    transition-property: background-color;
    transition-duration: .5s;
}

#window,
#workspaces {
    margin: 0 4px;
}

#workspaces {
    border-radius: 1rem;
    margin-left: 1rem;
}

#workspaces button {
    color: @lavender;
    border-radius: 1rem;
    padding: 0.4rem;
}

#workspaces button.active {
    color: @sky;
    border-radius: 1rem;
}

#workspaces button:hover {
    color: @sapphire;
    border-radius: 1rem;
}

#workspaces button.urgent {
    border-radius: 1rem;
    color: @red;
}

#workspaces button.empty {
    color: @overlay0;
}

#workspaces button.visible {
    color: @blue;
}

#workspaces button.focused {
    color: @sapphire;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

#window {
    color: @sapphire;
    border-radius: 20px;
    padding-right: 10px;
}

#clock {
    padding: 0 10px;
    color: @blue;
}

#custom-weather {
    color: @blue;
}

#battery {
    padding-left: 10px;
    color: @blue;
}

#cpu,
#memory,
#disk {
    padding: 0 5px;
    color: @blue;
}

#disk.low {
    color: @red;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

#tray> :hover {
    border-radius: 1rem;
    background-color: @overlay1;
}

#language {
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#custom-pacman {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-pacman.pending-updates {
    animation-name: blink-update;
    animation-duration: 3s;
}

#pulseaudio.muted {
    color: @red;
}

#pulseaudio.microphone {
    color: @blue
}

#pulseaudio.microphone.muted {
    color: @red
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: @overlay1;
}

#bluetooth {
    color: @red;
}

#bluetooth:hover {
    background-color: @overlay1;
}

#bluetooth.connected {
    color: @blue;
}

#network:hover {
    background-color: @overlay1;
}

#network.disconnected {
    background-color: @red;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: @red;
    color: @blue;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-power {
    color: @red;
    font-size: 23px;
}

#custom-power:hover {
    background-color: @overlay1;
}

#custom-quit {
    color: @peach;
    font-size: 23px;
}

#custom-quit:hover {
    background-color: @overlay1;
}

#custom-lock {
    color: @lavender;
    font-size: 23px;
}

#custom-lock:hover {
    background-color: @overlay1;
}

#custom-reboot {
    color: @sky;
    font-size: 23px;
}

#custom-reboot:hover {
    background-color: @overlay1;
}

#custom-notification {
  font-family: "NotoSansMono Nerd Font";
}
