@import url('./theme.css');

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @overlay1;
}

label:focus {
    background-color: #000000;
}

@keyframes blink {
    to {
        background-color: @text;
        color: #000000;
    }
}

@keyframes blink-update {
    to {
        background-color: dodgerblue;
    }
}

#window {
    color: @teal;
    border-radius: 20px;
    padding-right: 10px;
}

window#waybar {
    background-color: rgba(43, 48, 59, 0.5);
    border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    border-radius: 20px;
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: @base;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

window#waybar.empty #window {
    background-color: transparent;
}

#workspaces {
    border-radius: 20px;
}

#workspaces button {
    color: @text;
}

#workspaces button:first-child {
    border-radius: 20px 0 0 20px;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px @text;
}

#workspaces button.urgent {
    background-color: @red;
    border-radius: 1em;
    color: @text;
}

#workspaces button.visible {
    color: @blue;
}

#workspaces button.active {
    color: @green;
}

#workspaces button.empty {
    color: @overlay0;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

#clock {
    padding: 0 10px;
    color: @text;
}

#battery {
    padding-left: 10;
    color: @text;
}

#cpu,
#memory,
#disk {
    padding: 0 5px;
    color: @text;
}

#disk.low {
    color: @red;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @red;
}

#tray> :hover {
    background-color: @overlay1;
}

#language {
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#custom-pacman {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-pacman.pending-updates {
    animation-name: blink-update;
    animation-duration: 3s;
}

#pulseaudio.muted {
    color: @red;
}

#pulseaudio.microphone {
    color: @text
}

#pulseaudio.microphone.muted {
    color: @red
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: @overlay1;
}

#bluetooth {
    color: @red;
}

#bluetooth:hover {
    background-color: @overlay1;
}

#bluetooth.connected {
    color: @blue;
}

#network:hover {
    background-color: @overlay1;
}

#network.disconnected {
    background-color: @red;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: @red;
    color: @text;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon:hover {
    background-color: @overlay1;
}

#power-profiles-daemon.performance {
    color: @red;
}

#power-profiles-daemon.balanced {
    color: @blue;
}

#power-profiles-daemon.power-saver {
    color: @green
}

#custom-power {
    color: @red;
    font-size: 23px;
}

#custom-power:hover {
    background-color: @overlay1;
}

#custom-quit {
    color: @peach;
    font-size: 23px;
}

#custom-quit:hover {
    background-color: @overlay1;
}

#custom-lock {
    color: @lavender;
    font-size: 23px;
}

#custom-lock:hover {
    background-color: @overlay1;
}

#custom-reboot {
    color: @sky;
    font-size: 23px;
}

#custom-reboot:hover {
    background-color: @overlay1;
}
